<script>
	app.controller("navController",[function($scope)
	{
		$scope.myLists = [{name:'abc'},{name:'cde'}];
	}]);
</script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!--  <a class="navbar-brand" href="#">Brand</a>-->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
     <!--   <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
      <!--  <li><a href="#">Link</a></li>  -->
        <li class="dropdown" ng-if="pageControls.showListDropDown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Lists <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
	    <li><h5>My Lists</h5></li>
	    <li ng-repeat="list in myLists track by $index"
			ng-click="loadList(list.id)">{{ list.name }}
	    </li>
	    <li class="divider"></li>
	    <li><h5> List shared with me </h4></li>
	    <li ng-repeat="list in sharedLists track by $index"
			ng-click="loadList(list.id)">{{ list.name }}
	    </li>
            <li class="divider"></li>
            <li><a href="" ng-click="openListModal()">Manage Lists</a></li>
          </ul>
        </li>
      </ul>
	<form class="navbar-form navbar-left" role="search" ng-if="pageControls.showListDropDown">
        <div class="form-group">
          <input type="text" ng-model="addedListInput.text" placeholder="Enter new list name" 
		style="margin-top:5px;">
	  </input>
        </div>
        <button ng-click="addList(addedListInput.text)" class="btn btn-success fa fa-plus">Add</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        	<li ng-if="loggedInDetails.email.length > 0">
			<a href="">Welcome {{loggedInDetails.firstName}}</a>
		</li>				
		<li><a href="{{credentials.url}}">{{credentials.option}}</a></li>
      </ul>
    </div>
  </div>
</nav>

