@import url('https://fonts.googleapis.com/css?family=Chivo|Amiko');
@import url('https://unpkg.com/leaflet@1.0.1/dist/leaflet.css');
@import './mixins.scss';
@import './reset.scss';
@import './vars.scss';
@import './components/components.scss';

html, body, #root {
  height: 100%;
  width: 100%;
}

@-ms-viewport{
  width: device-width;
}
