// Color Scheme
$primary-color: #222;
$primary-color-light: #333;
$secondary-color: white;

// Typography
$title-type: 'WorkSansSemiBold', Helvetica, Arial, sans-serif;
$body-type: Consolas , monaco, monospace;
