
<div class="container">
        <div class="content-wrap">
		<div id='wsite-content' class='wsite-elements wsite-not-footer'>
			<h2 class="wsite-content-title" style="text-align:left;">
				Talk to us / stay informed 
			</h2>

		<div class="paragraph" style="text-align:left;">
			We are glad that you found our site. Please share our vision with your friends and colleagues. We are at an early project stage and would be absolutely grateful for any feedback and ideas of how to cooperate. Just send us an email:&nbsp;<strong>team@islandarkproject.org</strong>.&nbsp;<br /><br />
		</div>

	</div>
</div>
