<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>	
	<script src="static/ng-table.js"></script>
	<script src="static/ui-bootstrap-tpls-0.13.0.js"></script>
	<script src="static/app.js"></script>
	<script src="static/infoService.js"></script>
	<script src="static/logoutCtrl.js"></script>
	<link rel="stylesheet" href="static/font-awesome.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link rel="stylesheet" href="static/styleSheet.css">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body ng-app="MainPageApp">
<div ng-controller="LogoutController">
	<div ng-include="'/static/navBar.html'"></div>
	<div>
		<center>
			Thank you! Please come back soon!
		</center>
	</div>
</div>
</body>
