<script type="text/ng-template" id="changePassword.html">
        <div class="modal-header">
            <h3 class="modal-title">Change Password</h3>
        </div>
        <div class="modal-body">
            <center><input type="password" ng-model="password.oldPassword" required="true" placeholder="Current Password" style="margin-bottom:5px;"></input><br/>
            <input type="password" ng-model="password.newPassword" required="true" placeholder="New Password" style="margin-bottom:5px;"
			ng-class="{'has-error' : pageControls.passwordError}"></input><br/>
            <input type="password" ng-model="password.newPasswordVerify" required="true" placeholder="Confirm new Password" style="margin-bottom:5px;"
			ng-class="{'has-error' : pageControls.passwordValidateError}"></input><br/>
	    </center>	
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="changePassword()">Submit</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
		<div ng-repeat="alert in alerts" class="myfade">
			<center><span class="alert alert-{{ alert.type }} myfade">{{alert.message}}</span></center>
		</div>
    </script>

<script type="text/ng-template" id="confirmPassword.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirm Password</h3>
        </div>
        <div class="modal-body">
            <center>
		<input type="password" ng-model="password" required="true" placeholder="Password" style="margin-bottom:5px;"></input>
	    </center>	
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Submit</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
		<div ng-repeat="alert in alerts" class="myfade">
			<center><span class="alert alert-{{ alert.type }} myfade">{{alert.message}}</span></center>
		</div>
    </script>

<div class="form-group" ng-class="{'has-error' : pageControls.userError}">
      <label for="inputUserName" class="col-lg-2 control-label">User Name</label>
      <div class="col-lg-10">
	<input ng-model="personDetails.userName" type="text" class="form-control" id="inputUserName" placeholder="User Name"
		  name="inputUserName" ng-disabled="true"/>
      </div>
    </div>
    <div class="form-group" style="cursor:pointer">
	<a ng-click="openPasswordModal()">Change Password</a>
    </div>
    <div class="form-group" ng-class="{'has-error' : pageControls.emailError}" ng-if="registerMode">
      <label for="inputEmail" class="col-lg-2 control-label">Email Address</label>
      <div class="col-lg-10">
	<input ng-model="personDetails.email" type="text" class="form-control" id="inputEmail" placeholder="Email"
		  name="inputEmail">
      </div>
    </div>
    <div class="form-group" ng-if="registerMode" ng-class="{'has-error' : pageControls.nameError}">
      <label for="inputFName" class="col-lg-2 control-label">Your Name</label>
      <div class="col-lg-10">
	<input ng-model="personDetails.fName" type="text" class="form-control" id="inputFName" placeholder="Name"
		name="inputFName">
      </div>
    </div>

