
<script type="text/ng-template" id="categoryButton.html">
	<span class="categoryButton" ng-class="{'categoryButton-active' : pageControls.currentlySelectedCat.title == category.title }"
		ng-click="categoryChanged(category)">
		<strong> {{ category.title }} </strong>
	</span>
</script>


<div class="container">
	<div class="row"> <!-- category buttons -->
		<center><span ng-repeat="category in categories track by $index" style="display:inline-block; padding:20px;">
			<div ng-include src="'categoryButton.html'"></div>
		</span></center>
	</div>

	<div class="row"><center>
		<div class="container">
			<div ng-repeat="dataRow in dataRows | orderBy:pageControls.currentlySelectedCat.orderBy" class="row" style="padding-top:20px;">
				<hr>				
				<center><h3>{{ dataRow.title }}</h3></center>
				<br/><hr>
				<!--<div infinite-scroll='loadMore()' infinite-scroll-distance='1'>-->
				<div ng-repeat="pic in dataRow.pictures" class="itemsContainer" ui-sref="viewPicture({id:pic.hash})"><!-- ng-mouseleave="popUp=false" ng-mouseover="popUp=checkPhotoOwner(pic.owner)">-->
					<div style="margin-top:4px">
					<center><img src="{{pic.thumb}}" width="auto" height="150px"></img></center>
					</div>
					<div style="margin-left:5px;">
						<strong>Event Name:</strong> {{ pic.title | limitTo: 20 }}{{pic.title.length > 20 ? '...' : ''}} <br/> 
						<strong>Event Date:</strong> {{ pic.eventDate | date:'dd-MMM-yyyy' }} <br/>
						<strong>Location:</strong> {{ pic.location | limitTo: 20 }}{{pic.location.length > 20 ? '...' : ''}} </br>
						<strong>Uploaded by:</strong> {{ pic.owner | limitTo: 20 }}{{pic.owner.length > 20 ? '...' : ''}} </br>
						<strong>Description:</strong> {{ pic.description | limitTo: 60 }} {{pic.description.length > 60 ? '...' : ''}} </br>
					</div>
					
					<!--<div class="filePopover"><a class="fa fa-ellipsis-v"></a></div>-->
				<!--	<div class="filePopover" ng-style="{display: popUp ? 'block' : 'none'}"><a class="fa fa-trash" ng-click="deletePic(pic.url)">DELETE</a></div> -->
				
				</div>
				<!--</div>-->
			</div>
		</div></center>
	</div>
</div>
