.IAPButton {
  background: none;
  border-radius: 7.5px;
  border: 2px solid $primary-color;
  color: $primary-color;
  cursor: pointer;
  display: block;
  font-family: $title-type;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 250px;
  outline: none;
  padding: 0 40px;
  text-indent: 2px;
  text-transform: uppercase;

  &:hover {
    background: $primary-color;
    color: $secondary-color;
  }
}
