.IAPButton {
  background: none;
  border: 2px solid $primary-color;
  border-radius: 7.5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.5;
  min-height: 50px;
  outline: none;
  padding: 0 40px;
  text-indent: 2px;
  text-transform: uppercase;
  min-width: 250px;

  &:hover {
    background: $primary-color;
    color: $secondary-color;
  }
}
