.Uploader {
  text-align: center;

  .upload-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .Dropzone {
      // Styles for dropzone
      @include onMobile(width, 280px);
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 400px;
      margin: 50px auto;
      padding: 10px;
      width: 600px;

      p {
        margin: 20px auto;
      }

      .IAPButton {
        margin: 30px auto;
      }
    }
  }
}
